<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                    <button class="bootstrap class" id="pagetwo" href='pagetwo.html'> 
    Click Me
</button>
                </ul>
            </nav>
            <h3 class="text-muted">Code for Democracy</h3>
        </div>
 
        <div class="jumbotron">
            <h1>The People's Pamphlet</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Input Address</a>
            </p>
        </div>
 
        <div class="row marketing">
            <div class="col-lg-6">
                <h4>The People's Pamphlet</h4>
                <p>Providing helpful information for upcoming elections at the local, county, state and federal level.</p>
 
                <h4>We had to do it better</h4>
                <p>Government half-heartedly gives you information on the latest initiatives, but its all organized rather poorly. We want to give you everything in one place.</p>
 
                <h4>Get out the vote!</h4>
                <p>It's easy to be apathetic about the political climate, but its challenging to perservere towards a more perfect union. Get involved with a local campaign today!</p>
            </div> 

            <div class="col-lg-6">
                <h4>Bucket List</h4>
                <p>Placeholder text here.</p>
 
                <h4>Bucket List</h4>
                <p>Placeholder text here.</p>
 
                <h4>Bucket List</h4>
                <p>Placeholder text here.</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Ian Berry and Michael Litchev ; Code for Democracy, 2016</p>
        </footer>
 
    </div>
</body>
 
</html>