<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Python Flask Bucket List App</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="header">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a>
                    </li>
                    <li role="presentation"><a href="#">Sign In</a>
                    </li>
                    <li role="presentation"><a href="showSignUp">Sign Up</a>
                    </li>
                    <button class="bootstrap class" id="pagetwo"> 
    Click Me
</button>
                </ul>
            </nav>
            <h3 class="text-muted">Code for Democracy</h3>
        </div>
 
        <div class="jumbotron">
            <h1>The People's Pamphlet</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Input Address</a>
            </p>
        </div>
 
        <footer class="footer">
            <p>&copy; Ian Berry and Michael Litchev ; Code for Democracy, 2016</p>
        </footer>
 
    </div>
</body>
 
</html>